svg.star {
	display: inline;
	fill: gray;
}

svg.sort {
	display: inline;
	fill: gray;
}

.lang-circle {
	display: inline-block;
	width: 12px;
	height: 12px;
	border: 1px solid;
	border-radius: 50%;
}
